* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body {
    display: flex;
    padding: 0 10vw;
    font-size: 16px;
}
section {
    border: 2px solid black;
}
/*Left navbar*/
#navbar {
    width: 20vw;
    height: 100vh;
    /* position: fixed; */
    font-size: 1.5em;
}
a:hover {
  background-color: lightgrey;
  border-radius: 8px;
  padding: 1vh;
}
#texting {
    border-radius: 8px;
    padding: 1vh;
    width: 100%;
}
@media all and (max-width: 1070px) { 
.lefttext {
    display: none;
}
}

/*----------------*/


#main {
    width: 40vw;
    height: 100vh;
    overflow: scroll;
    position: relative;
}
#right {
    width: 20vw;
    height: 100vh;
    overflow: scroll;
}
#mainnav {
    position: fixed;
    width: 40vw;
    padding: 0 2vw;
}
.mainnavul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
}
.mainnavli {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}

#navbar {
    padding: 2vh;
}

#navbar div{
    padding: 2vh;
}

.mainaleft {
    font-size: 1.5em;
}
.faregular {
    color: black;
}
#mainmain {
    position: absolute;
    top: 7vh;
    width: 40vw;
    padding: 0 2vw;
}
.customizetitle {
    text-align: center;
    margin-top: 1em;
}
.customizeparagraph {
    text-align: center;
    font-size: 0.9em;
    padding: 0 1em;
    color: rgb(97, 95, 95);
    margin: 0.5em 0;
}
.customizediv {
    font-size: 0.8em;
    margin-top: 1.3em;
    margin-bottom: 0.7em;
    font-weight: 600;
    color: rgb(97, 95, 95);
}
.customizecolor {
    background-color: rgb(246, 246, 246);
    width: 100%;
    height: 7vh;
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.blockfont {
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 0;
}
.customizefontleft {
    font-size: 12px;
}
.customizefontcenter {
    width: 70%;
    height: 3px;
    background-color: rgba(77, 159, 236, 0.5);
    padding: 0 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    position: relative;
}
.fontoptions {
    height: 12px;
    width: 12px;
    border-radius: 50px;
    background-color: rgb(172, 201, 238);
    border: none;
    cursor: pointer;
    /* box-shadow: 0 0 10px 0; */
}
.customizefontright {
    font-size: 20px;
}
.customizecolorbtn {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}
.customizethemecolordiv {
    height: 50px;
    width: 25%;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: none;
    cursor: pointer;
}
.customizecircle {
    height: 18px;
    width: 18px;
    border-radius: 50px;
    border: 2px solid rgb(155, 152, 152);
}
.customizethemetext {
    width: 60%;
    font-weight: 600;
}
.customizethemetext1, .customizethemetext2 {
    color: white;
}