* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body {
    display: flex;
    padding: 0 7vw;
    font-size: 16px;
}
.border {
    border-left: 1px solid rgb(240, 243, 244);
    border-right: 1px solid rgb(240, 243, 244);
    border-bottom: 1px solid rgb(240, 243, 244);
    padding: 0 2vw;
}
/*Left navbar changed 18:00 8 july, copy all*/
#navbar {
    width: 18vw;
    height: 100vh;
    font-size: 1.4em;
    position: relative;
}
a:hover {
    background-color: lightgrey;
    border-radius: 8px;
    padding: 1vh;
}
#texting {
    margin-top: 1.7em;
    border: none;
    border-radius: 50px;
    padding: 1vh;
    width: 92%;
    height: 6vh;
    background-color: rgb(77, 159, 236);
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 0.8em;
    cursor: pointer;
}
.logo {
    width: 40px;
    margin-left: 2vw;
}
.footernav {
    margin-bottom: 3vh;
    position: fixed;
    text-align: left;
    left: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding: 0 2vw;
}
#navbar {
    padding: 2vh;
}
.navblock {
    padding: 2vh;
}
.usernameimg {
    height: 50px;
    width: 50px;
}
.usernamediv {
    padding: 0;
    margin: 0;
}
.namenav {
    font-weight: 600;
}
.usernamenav {
    font-size: 0.8em;
}

/*----------------*/

#main {
    width: 44vw;
    height: 100vh;
    position: relative;
}
#mainnav {
    position: fixed;
    width: 44vw;
}
.mainnavul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
}
.mainnavli {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}

.mainaleft {
    font-size: 1.5em;
}
.faregular {
    color: black;
}
#mainmain {
    position: absolute;
    top: 7vh;
    width: 44vw;
    overflow: scroll;
    height: 93vh;
}
.maintitle {
    text-align: center;
    padding-top: 1em;
}
.mainparagraph {
    text-align: center;
    font-size: 0.9em;
    padding: 0 1em;
    color: rgb(97, 95, 95);
    margin: 0.5em 0;
}
.customizediv {
    font-size: 0.8em;
    margin-top: 1.3em;
    margin-bottom: 0.7em;
    font-weight: 600;
    color: rgb(97, 95, 95);
}
.customizecolor {
    background-color: rgb(246, 246, 246);
    width: 100%;
    height: 7vh;
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.blockfont {
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 0;
}
.customizefontleft {
    font-size: 12px;
}
.customizefontcenter {
    width: 70%;
    height: 3px;
    background-color: rgba(77, 159, 236, 0.5);
    padding: 0 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    position: relative;
}
.fontoptions {
    height: 12px;
    width: 12px;
    border-radius: 50px;
    background-color: rgb(172, 201, 238);
    border: none;
    cursor: pointer;
}
.customizefontright {
    font-size: 20px;
}
.customizecolorbtn {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}
.customizethemecolordiv {
    height: 50px;
    width: 20%;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: none;
    cursor: pointer;
    padding: 0 10px;
}
.customizecircle {
    height: 18px;
    width: 18px;
    border-radius: 50px;
    border: 2px solid rgb(155, 152, 152);
}
.customizethemetext {
    width: 65%;
    font-weight: 600;
}
.customizethemetext1, .customizethemetext2 {
    color: white;
}
.customizebtndiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.3em;
    margin-bottom: 0.7em;
}
.customizebtn {
    width: 15%;
    height: 40px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}
.customizecolorchange {
    background-color: rgb(77, 159, 236);
    color: rgb(255, 255, 255);
    font-weight: 600;
}
.fa-check {
    color: #fff;
    opacity: 0;
}
#cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card {
    display: flex;
    width: 48%;
    justify-content: space-between;
    align-items: center;
    padding: 0 3px;
    margin: 5px 0;
}
.cardinfo {
    display: flex;
    align-items: center;
}
.carddesc {
    padding: 0 5px;
}
.name {
    font-weight: 600;
}
.username {
    color: rgb(97, 95, 95);
    font-size: 0.8em;
}
.cardimg {
    border-radius: 50px;
    height: 50px;
    width: 50px;
}
.cardbutton {
    border-radius: 50px;
    border: none;
    height: 2.2em;
    width: 4.5em;
    cursor: pointer;
}
/*right side changed 18:00 8 july, copy all**/
#right {
    padding: 0 1vw;
    width: 24vw;
    height: 100vh;
}
.rightmain {
    overflow: scroll;
    height: 93vh;
}
.searchright {
    border-radius: 50px;
    border: none;
    width: 100%;
    height: 5vh;
    font-size: 1em;
    margin: 5px 0 10px 0;
    padding: 0 20px;
}
.rightTitle {
    text-align: left;
    padding: 0.7em 1em 0em 1em;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

}
.accountDiv {
    margin: 0.8em;
    padding: 3px;
}
.topaccountsmain{
    display: flex;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.topaccounts {
    padding: 0.5em 1em;
    font-size: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.showtopdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.8em 0;
}
.showtopfivediv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0.8em 0;
}
.showtopbtn {
    background-color: none;
    border: none;
    cursor: pointer;
}
.textcolorchange {
    color: rgb(77, 159, 236);
}
.cardTop {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 3px;
    margin: 5px 0;
}
.tags {
    padding: 0.5em 1.3em;
    font-size: 1.3em;
    text-align: left;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.tagdiv {
    padding: 5px 0;
}
.backgroundchange {
    background-color: rgb(246, 246, 246);
}

/* Media */
@media all and (max-width: 1070px) { 
    .lefttext {
        display: none;
    }
    #texting {
    border-radius: 40px;
    padding: 2vh;
    box-sizing: border-box;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: none;
    }
    .customizethemecolordiv {
    height: 50px;
    width: 50%;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: none;
    cursor: pointer;
    padding: 0 10px;
    }
    #cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    }  
    .card {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 3px;
    margin: 5px 0;
    }
    .cardTop {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 3px;
    margin: 5px 0;
    }
    .footernav {
    margin-bottom: 3vh;
    position: fixed;
    text-align: left;
    left: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 50px;
    padding: 0 2vw;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: baseline;
    }
}
@media all and (max-width: 780px) { 
    .centerofleftnav {
        display: none;
    }
    #navbar {
        width: 0;
        height: 100vh;
        font-size: 1.4em;
        position: relative;
        padding-right: 0vh;
        padding-top: 2vh;
    }
    #main {
        width: 100vw;
        height: 100vh;
        position: relative;
    }
    #mainmain {
        position: absolute;
        top: 7vh;
        width: 85vw;
        overflow: scroll;
        height: 93vh;
    }
    #right {
        padding: 0 1vw;
        width: 24vw;
        height: 100vh;
        display: none;
    }
    .footernav {
        margin-bottom: 3vh;
        position: fixed;
        text-align: left;
        left: 0;
        bottom: 0;
        position: absolute;
        width: 100%;
        display: none;
        justify-content: center;
        height: 50px;
        padding: 0 2vw;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: baseline;
    }
    #mainnav {
        position: fixed;
        width: 70vw;
    }
    .logo {
        width: 40px;
        margin-left: 80vw;
    }
}