* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body {
    display: flex;
    padding: 0 10vw;
}
section {
    border: 2px solid black;
}
#navbar {
    width: 20vw;
    height: 100vh;
    /* position: fixed; */
}
button {
    border-radius: 12%;
    padding: 3vh 10vh;
}
#main {
    width: 40vw;
    height: 100vh;
    overflow: scroll;
    position: relative;
}
#right {
    width: 20vw;
    height: 100vh;
    overflow: scroll;
}
#mainnav {
    position: fixed;
    width: 40vw;
    padding: 0 2vw;
}
.mainnavul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
}
.mainnavli {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}

#navbar {
    padding: 2vh;
}

#navbar div{
    padding: 2vh;
}


.mainaleft {
    font-size: 1.5em;
}
.faregular {
    color: black;
}
#mainmain {
    position: absolute;
    top: 7vh;
    width: 40vw;
    padding: 0 2vw;
}
p {
    height: 300px;
}

